<%= form_with(model: patient, local: true) do |form| %>
  <% if patient.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(patient.errors.count, "error") %> prevented this patient from being saved:</h4>
      <ul>
        <% patient.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :image %>
    <%= form.file_field :image, class: "form-control" %>
  </div>

  <%= form.submit class: "btn btn-primary" %>
<% end %>
